{% extends 'base.html' %}
{% block content %}
<h2>{{ bio.get('name'), 'Unknown artist' }}</h2>
<p><strong>Bio:</strong> {{ bio.get('bio', 'No bio available' )}}</p>

<h3>Upcoming Events</h3>
{% if events.get('data') %}
{% for event in events.get('data') %}
<div class="card">
  <p><strong>Title:</strong> {{ event.name }}</p>
  <p><strong>Date:</strong> {{ event.datatime}}</p>
  <p><strong>Venue:</strong> {{ event.venue.name }}</p>
</div>
{% endfor %}
{% else %}
<p>No upcoming events.</p>
{% endif %}
{% endblock %}
