<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GrooveRadar | Track for Favorite Artists</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/groove.ico') }}" />
</head>

<body>
  <nav class="brand text-2xl text-white bg-black p-4">
    <a class="flex items-center gap-2" href="{{ url_for('index') }}">
      <img class="h-[40px] w-[40px]" src="{{ url_for('static', filename='img/groove.svg')}}"> GrooveRadar
    </a>
  </nav>
  <div class="max-w-[800px] m-auto p-[20px]">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
